/* cacher tous les div au chargement de la page */
#content div {
	display:none;
}

/* Agencement des div du menu etudiant*/
#content div #etudiant_matieres{
	display: inline-block; 
	vertical-align: top;
	width:200px;
}

#content div #etudiant_cours{
	display: inline-block; 
	vertical-align: top;
	width:200px;
}

#content div #etudiant_qcm_fichiers{
	display: inline-block; 
	vertical-align: top;
	width:200px;
}



